.postBox {
  padding-bottom: 10px;
  border-bottom: 4px solid $car-background;
  padding-right: 10px;
  min-width: 600px;
}
.postBoxinput {
  display: flex;
  padding: 20px;
}
.postBoxinput {
  input {
    margin-left: 20px;
    font-size: 20px;
    border: none;
    min-width: 600px;
  }
}

.postBoxbutton {
  position: absolute;
  left: 350px;
  background-color: $car-color !important;
  border: none !important;
  color: white !important;
  font-weight: 700 !important;
  border-radius: 20px !important;
  height: 45px !important;
}  
.postBoximageInput {
  border: none;
  padding: 15px;
}

.timeline {

  min-width: 600px;
}